.home-page {
  background-color: rgb(246, 248, 250);
}

.home-page .detail-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 30px; */
  font-size: 18px;
  color: rgb(200, 225, 255);
}
.home-page .detail-container > * {
  margin: 5px 15px;
}

.home-page .detail-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}
.home-page .detail-item > *:not(:first-child) {
  margin: 0 6px;
}

.home-page .detail-container .icon {
  /* background-color: forestgreen; */
  justify-items: center;
  display: flex;
}

.home-page .header {
  padding: 50px 0 110px 0;
  width: 100%;
  background-color: #1f2329;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-page .paper-container {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  margin-top: 10px;
  /* gap: 10px; */
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.home-page .paper-container > * {
  margin: 6px;
}

.home-page .link {
  cursor: pointer;
}

.home-page .link:hover {
  text-decoration: underline;
}

.home-page .chart-section {
  min-width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.home-page .label {
  margin-left: -5px;
}

.home-page .charts {
  /* background-color: yellow; */
  margin: 15px;
  margin-top: -100px;
  /* width: 100%; */
  /* width: 600px; */
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart {
  /* background-color: pink; */
  width: 500px;
}

.home-page .gutter {
  padding: 40px;
}

.home-page .repos-section {
  padding: 50px;
}

.label-repo {
  font-size: 2rem;
  border-bottom: 2px dashed lightgray;
  text-align: left;
  width: max-content;
  margin-left: 25px;
}

.repos-section-header {
  height: 70px;
  /* background-color: red; */
  z-index: 1;
  position: relative;
  display: flex;
  /* gap: 20px; */
  align-items: baseline;
}
.repos-section-header > *:not(:first-child) {
  margin: 0 8px;
}
